body {
  background-image: url('https://i.stack.imgur.com/KesVC.jpg');
}
.north {
  transform: rotate(270deg)
}

.south {
 transform: rotate(90deg)
}

.east {
  transform: rotate(0deg)
}

.west {
  transform: rotate(180deg)
}
